{% extends 'accounts/base.html' %}


{% block content %}
<div class="container-fluid" style="padding-top: 20px;">
    <div class="card">
        <h4 class="card-title text-primary" style="padding:15px;padding-bottom: 0;">Products</h4>
        <div class="card-body">
            <table class="table ">
                <thead>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock %}