[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-crispy-forms = "*"
django-filter = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "*"
